/*------------------------------------------
Project Name : Travel In
Desgined By  : eCreative solutions
Developed By : sharjeel;
Date        :  01/February/18;

Table Of Index
------------------
1. Base css
2. Typography css
3. Header css
4. Banner css
5. Booking Form css
6. About Us css
7. Counter css
8. Services css
9. Support Team css
10. Testimonials css
11. Blog css
12. contact form css
13. Footer css
14. Media Quries css
------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:300,400,500,700&display=swap');

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?70khwd');
    src: url('../fonts/icomoon.eot?70khwd#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?70khwd') format('truetype'),
    url('../fonts/icomoon.woff?70khwd') format('woff'),
    url('../fonts/icomoon.svg?70khwd#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-behance:before {
    content: "\e900";
}

.icon-facebook:before {
    content: "\e901";
}

.icon-fact-check:before {
    content: "\e902";
}

.icon-google-plus:before {
    content: "\e903";
}

.icon-hotels:before {
    content: "\e904";
}

.icon-linkedin:before {
    content: "\e905";
}

.icon-mail:before {
    content: "\e906";
}

.icon-twiiter:before {
    content: "\e907";
}


html, body {
    min-height: 100%;
    position: relative;
    height: 100%;
}

body {
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h4 {
    font-weight: 500;
}

h1 {
    font-size: 50px;
}

h2 {
    color: #272727;
    font-size: 36px;
    line-height: 52px;
    margin: 0px;
}

h3 {
    font-size: 16px;
    line-height: 32px;
}

h4 {
    color: #454545;
    font-size: 18px;
    line-height: 26px;
}

h5 {
    letter-spacing: 0.5px;
}

p {
    color: #777;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

/*---------------------------------------
   Buttons
-----------------------------------------*/
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    position: relative;
}

@media (min-width: 1200px) {
    .normal-container {
        max-width: 1170px;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .normal-container {
        max-width: 970px;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .normal-container {
        max-width: 750px;
        margin: 0 auto;
    }

    .splide__arrows {
        display: none;
    }
}

@media (min-width: 1200px) {

}

.btn-success:focus {
    background-color: #000;
    color: #ffffff;
}

.section-btn {
    background: #2149e6;
    border-radius: 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 30px;
    margin: 22px 0 22px 0;
    text-transform: uppercase;
    border: none;
}

.section-btn:focus, .section-btn:hover {
    background: #fff;
    color: #333;
}

.form-container-body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    align-items: flex-end;
    justify-content: center;
}

.form-container-body_hotels .form-container-body-item {
    flex: 0 0 25%;
}

.form-container-body-item {
    flex: 0 0 15%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0 0 .75rem 0;
    position: relative;
}

@media (max-width: 992px) {
    .form-container-body {
        justify-content: flex-start;
    }

    .form-container-body-item {
        flex: 0 0 25%;
    }

    .form-input_group {
        flex: 0 0 60%;
    }

    .form-input_btn {
        flex: 0 0 40% !important;
    }
}

@media (max-width: 768px) {
    .form-container-body {
        justify-content: center;
    }

    .form-container-body-item,
    .form-input_group,
    .form-input_btn {
        flex: 0 0 26% !important;
    }
}

@media (max-width: 530px) {
    .form-container-body {
        justify-content: center;
    }

    .form-container-body-item,
    .form-input_group,
    .form-input_btn {
        flex: 0 0 50% !important;
    }
}

@media (max-width: 375px) {
    .form-container-body {
        justify-content: center;
    }

    .form-container-body-item,
    .form-input_group,
    .form-input_btn {
        flex: 1 1 100% !important;
    }
}

.form-container-body-item_tourist {
    flex: 0 0 15%;
}

.form-input_plane {
    flex: 0 0 30% !important;
}

.form-input_date {
    flex: 0 0 25% !important;
}

.form-input_tourists {
    flex: 0 0 20% !important;
}

.form-input_btn {
    flex: 0 0 12%;
}

.form-input__label {
    font-size: 11px;
    color: #000000;
    font-weight: 400;
    margin: 0;
    padding: 0 0 5px 0;
}

.form-input__date {
    background: #fff;
    color: #000;
}

.form-input__date:hover::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.form-input__item {
    border-radius: 1.8rem;
    color: #333;
    font-size: 1.3rem;
    display: block;
    width: 100%;
    height: calc(1.1em + 2rem + 2px);
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    transition: border-color .15s ease-in-out,
    box-shadow .15s ease-in-out,
    background .15s ease-in-out,
    color .25s ease-in-out,
    filter .25s ease-in-out;
}

.form-input__item_icon {
    background: url('../images/date.svg') 10px / 15px no-repeat;
    padding: 0.375rem 0.75rem 0.375rem 30px !important;
}

.form-input__date:hover {
    background-color: #2b51e7;
    color: #fff;
    border-color: #fff;
}

.btn_blue {
    height: 38px;
    color: #fff;
    background-color: #2b51e7;
    border-color: #2b51e7;
    border-radius: 1.5rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn_blue:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
}

.footer-nav-link {
    text-align: start;
    margin: 0 0 7px 0;
    color: #fff;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 20px 0;
}

.cards-text {
    font-size: 1.2rem;
    margin: 0 0 .5rem 0;
    color: #fff;
}

.cards-images {
}

.social-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    margin: 0 0 20px 0;
}

.social-footer__list {
    display: flex;
    margin: 0 0 20px 0;
}

.social-footer__list li {
    margin: 0 10px 0 0;
}

.list-footer {
}

.list-footer__link {
    color: #fff;
    border: 1px solid #fff;
    width: 33px;
    height: 33px;
    display: block;
    line-height: 33px;
    text-align: center;
    font-size: 1.7rem;
    border-radius: 50%;
}

.list-footer__link:hover {
    color: #00bef9;
    border: 1px solid #00bef9;
    background: #fff;
}

.fab {
}

.fa-facebook-f {
}

.social-footer__link {
    display: block;
    text-align: start;
    color: #fff;
}

.social-footer__link b {
    padding: 0 5px;
}

/*---------------------------------------
   General
-----------------------------------------*/

html {
    -webkit-font-smoothing: antialiased;
}

a {
    transition: ease-in-out 0.3s;
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -ms-transition: ease-in-out 0.3s;
    color: #2149e6;
    text-decoration: none !important;
}

/* a:hover, a:active, a:focus {
	color: #00bef9;
	outline: none;
} */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.mainblock__image {
    position: absolute !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.parallax-section {
    /* background-attachment: fixed !important; */
    /* background-size: cover !important; */

}

.section-title {
    margin: 0;
    padding-bottom: 50px;
    text-align: center;
}

.section-title h3 {
    position: relative;
    font-size: 40px;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 42px;
}

.section-title h3:after {
    content: '';
    background: #2149e6;
    height: 2px;
    width: 60px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -30px;
}

.section-title h3:before {
    content: '';
    background: #2149e6;
    height: 9px;
    width: 4px;
    position: absolute;
    bottom: -33px;
    left: 50%;
    margin-left: -2px
}

.section-title h3 span {
    color: #2149e6;
    font-weight: 400;
}

.section-title p {
    max-width: 800px;
    margin: auto;
}

.parallax-section {
    /* padding: 70px 0; */
    position: relative;
}

#counter, #service, #contact, #address {
    text-align: center;
}

/*---------------------------------------
     Preloader section
-----------------------------------------*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
}

.cssload-dots {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    outline: 1px solid red;
    filter: url('style.css');
    -o-filter: url('style.css');
    -ms-filter: url('style.css');
    -webkit-filter: url('style.css');
    -moz-filter: url('style.css');
}

.cssload-dot {
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.cssload-dot:before {
    content: "";
    width: 34px;
    height: 34px;
    border-radius: 49px;
    background: rgb(15, 229, 143);
    position: absolute;
    left: 50%;
    transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    margin-left: -17.5px;
    margin-top: -17.5px;
}

.cssload-dot:nth-child(5):before {
    z-index: 100;
    width: 44.5px;
    height: 44.5px;
    margin-left: -21.75px;
    margin-top: -21.75px;
    animation: cssload-dot-colors 4.6s ease infinite;
    -o-animation: cssload-dot-colors 4.6s ease infinite;
    -ms-animation: cssload-dot-colors 4.6s ease infinite;
    -webkit-animation: cssload-dot-colors 4.6s ease infinite;
    -moz-animation: cssload-dot-colors 4.6s ease infinite;
}

.cssload-dot:nth-child(1) {
    animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
    -o-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
    -ms-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
    -webkit-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
    -moz-animation: cssload-dot-rotate-1 4.6s 0s linear infinite;
}

.cssload-dot:nth-child(1):before {
    background-color: rgb(255, 50, 112);
    animation: cssload-dot-move 4.6s 0s ease infinite;
    -o-animation: cssload-dot-move 4.6s 0s ease infinite;
    -ms-animation: cssload-dot-move 4.6s 0s ease infinite;
    -webkit-animation: cssload-dot-move 4.6s 0s ease infinite;
    -moz-animation: cssload-dot-move 4.6s 0s ease infinite;
}

.cssload-dot:nth-child(2) {
    animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
    -o-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
    -ms-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
    -webkit-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
    -moz-animation: cssload-dot-rotate-2 4.6s 1.15s linear infinite;
}

.cssload-dot:nth-child(2):before {
    background-color: rgb(32, 139, 241);
    animation: cssload-dot-move 4.6s 1.15s ease infinite;
    -o-animation: cssload-dot-move 4.6s 1.15s ease infinite;
    -ms-animation: cssload-dot-move 4.6s 1.15s ease infinite;
    -webkit-animation: cssload-dot-move 4.6s 1.15s ease infinite;
    -moz-animation: cssload-dot-move 4.6s 1.15s ease infinite;
}

.cssload-dot:nth-child(3) {
    animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
    -o-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
    -ms-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
    -webkit-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
    -moz-animation: cssload-dot-rotate-3 4.6s 2.3s linear infinite;
}

.cssload-dot:nth-child(3):before {
    background-color: rgb(175, 225, 2);
    animation: cssload-dot-move 4.6s 2.3s ease infinite;
    -o-animation: cssload-dot-move 4.6s 2.3s ease infinite;
    -ms-animation: cssload-dot-move 4.6s 2.3s ease infinite;
    -webkit-animation: cssload-dot-move 4.6s 2.3s ease infinite;
    -moz-animation: cssload-dot-move 4.6s 2.3s ease infinite;
}

.cssload-dot:nth-child(4) {
    animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
    -o-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
    -ms-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
    -webkit-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
    -moz-animation: cssload-dot-rotate-4 4.6s 3.45s linear infinite;
}

.cssload-dot:nth-child(4):before {
    background-color: rgb(251, 211, 1);
    animation: cssload-dot-move 4.6s 3.45s ease infinite;
    -o-animation: cssload-dot-move 4.6s 3.45s ease infinite;
    -ms-animation: cssload-dot-move 4.6s 3.45s ease infinite;
    -webkit-animation: cssload-dot-move 4.6s 3.45s ease infinite;
    -moz-animation: cssload-dot-move 4.6s 3.45s ease infinite;
}

@keyframes cssload-dot-move {
    0% {
        transform: translateY(0);
    }
    18%, 22% {
        transform: translateY(-68px);
    }
    40%, 100% {
        transform: translateY(0);
    }
}

@-o-keyframes cssload-dot-move {
    0% {
        -o-transform: translateY(0);
    }
    18%, 22% {
        -o-transform: translateY(-68px);
    }
    40%, 100% {
        -o-transform: translateY(0);
    }
}

@-ms-keyframes cssload-dot-move {
    0% {
        -ms-transform: translateY(0);
    }
    18%, 22% {
        -ms-transform: translateY(-68px);
    }
    40%, 100% {
        -ms-transform: translateY(0);
    }
}

@-webkit-keyframes cssload-dot-move {
    0% {
        -webkit-transform: translateY(0);
    }
    18%, 22% {
        -webkit-transform: translateY(-68px);
    }
    40%, 100% {
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes cssload-dot-move {
    0% {
        -moz-transform: translateY(0);
    }
    18%, 22% {
        -moz-transform: translateY(-68px);
    }
    40%, 100% {
        -moz-transform: translateY(0);
    }
}

@keyframes cssload-dot-colors {
    0% {
        background-color: rgb(15, 229, 143);
    }
    25% {
        background-color: rgb(255, 50, 112);
    }
    50% {
        background-color: rgb(32, 139, 241);
    }
    75% {
        background-color: rgb(175, 225, 2);
    }
    100% {
        background-color: rgb(251, 211, 1);
    }
}

@-o-keyframes cssload-dot-colors {
    0% {
        background-color: rgb(15, 229, 143);
    }
    25% {
        background-color: rgb(255, 50, 112);
    }
    50% {
        background-color: rgb(32, 139, 241);
    }
    75% {
        background-color: rgb(175, 225, 2);
    }
    100% {
        background-color: rgb(251, 211, 1);
    }
}

@-ms-keyframes cssload-dot-colors {
    0% {
        background-color: rgb(15, 229, 143);
    }
    25% {
        background-color: rgb(255, 50, 112);
    }
    50% {
        background-color: rgb(32, 139, 241);
    }
    75% {
        background-color: rgb(175, 225, 2);
    }
    100% {
        background-color: rgb(251, 211, 1);
    }
}

@-webkit-keyframes cssload-dot-colors {
    0% {
        background-color: rgb(15, 229, 143);
    }
    25% {
        background-color: rgb(255, 50, 112);
    }
    50% {
        background-color: rgb(32, 139, 241);
    }
    75% {
        background-color: rgb(175, 225, 2);
    }
    100% {
        background-color: rgb(251, 211, 1);
    }
}

@-moz-keyframes cssload-dot-colors {
    0% {
        background-color: rgb(15, 229, 143);
    }
    25% {
        background-color: rgb(255, 50, 112);
    }
    50% {
        background-color: rgb(32, 139, 241);
    }
    75% {
        background-color: rgb(175, 225, 2);
    }
    100% {
        background-color: rgb(251, 211, 1);
    }
}

@keyframes cssload-dot-rotate-1 {
    0% {
        transform: rotate(-105deg);
    }
    100% {
        transform: rotate(270deg);
    }
}

@-o-keyframes cssload-dot-rotate-1 {
    0% {
        -o-transform: rotate(-105deg);
    }
    100% {
        -o-transform: rotate(270deg);
    }
}

@-ms-keyframes cssload-dot-rotate-1 {
    0% {
        -ms-transform: rotate(-105deg);
    }
    100% {
        -ms-transform: rotate(270deg);
    }
}

@-webkit-keyframes cssload-dot-rotate-1 {
    0% {
        -webkit-transform: rotate(-105deg);
    }
    100% {
        -webkit-transform: rotate(270deg);
    }
}

@-moz-keyframes cssload-dot-rotate-1 {
    0% {
        -moz-transform: rotate(-105deg);
    }
    100% {
        -moz-transform: rotate(270deg);
    }
}

@keyframes cssload-dot-rotate-2 {
    0% {
        transform: rotate(165deg);
    }
    100% {
        transform: rotate(540deg);
    }
}

@-o-keyframes cssload-dot-rotate-2 {
    0% {
        -o-transform: rotate(165deg);
    }
    100% {
        -o-transform: rotate(540deg);
    }
}

@-ms-keyframes cssload-dot-rotate-2 {
    0% {
        -ms-transform: rotate(165deg);
    }
    100% {
        -ms-transform: rotate(540deg);
    }
}

@-webkit-keyframes cssload-dot-rotate-2 {
    0% {
        -webkit-transform: rotate(165deg);
    }
    100% {
        -webkit-transform: rotate(540deg);
    }
}

@-moz-keyframes cssload-dot-rotate-2 {
    0% {
        -moz-transform: rotate(165deg);
    }
    100% {
        -moz-transform: rotate(540deg);
    }
}

@keyframes cssload-dot-rotate-3 {
    0% {
        transform: rotate(435deg);
    }
    100% {
        transform: rotate(810deg);
    }
}

@-o-keyframes cssload-dot-rotate-3 {
    0% {
        -o-transform: rotate(435deg);
    }
    100% {
        -o-transform: rotate(810deg);
    }
}

@-ms-keyframes cssload-dot-rotate-3 {
    0% {
        -ms-transform: rotate(435deg);
    }
    100% {
        -ms-transform: rotate(810deg);
    }
}

@-webkit-keyframes cssload-dot-rotate-3 {
    0% {
        -webkit-transform: rotate(435deg);
    }
    100% {
        -webkit-transform: rotate(810deg);
    }
}

@-moz-keyframes cssload-dot-rotate-3 {
    0% {
        -moz-transform: rotate(435deg);
    }
    100% {
        -moz-transform: rotate(810deg);
    }
}

@keyframes cssload-dot-rotate-4 {
    0% {
        transform: rotate(705deg);
    }
    100% {
        transform: rotate(1080deg);
    }
}

@-o-keyframes cssload-dot-rotate-4 {
    0% {
        -o-transform: rotate(705deg);
    }
    100% {
        -o-transform: rotate(1080deg);
    }
}

@-ms-keyframes cssload-dot-rotate-4 {
    0% {
        -ms-transform: rotate(705deg);
    }
    100% {
        -ms-transform: rotate(1080deg);
    }
}

@-webkit-keyframes cssload-dot-rotate-4 {
    0% {
        -webkit-transform: rotate(705deg);
    }
    100% {
        -webkit-transform: rotate(1080deg);
    }
}

@-moz-keyframes cssload-dot-rotate-4 {
    0% {
        -moz-transform: rotate(705deg);
    }
    100% {
        -moz-transform: rotate(1080deg);
    }
}

/*---------------------------------------
     Navigation section
-----------------------------------------*/
.sticky-wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000
}

.navbar {
    border-radius: 0;
}

.custom-navbar {
    margin: 0;
    padding: 6px 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0, transparent 95%);
    /* position: relative; */
    z-index: 10;
    border-bottom: 1px solid #dde3ed;
    border-top: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 11;
}

.section-form {
    position: relative;
    margin: 50px 0 0 0;
}

.custom-navbar .container {
    margin: 0 auto;
}

.header__row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.custom-dropdown {
    min-width: 55px;
}

.nav_parent {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 767px) {
    .custom-dropdown {
        position: absolute !important;
        top: 100% !important;
        background: #fff !important;
    }

    .custom-dropdown__item {
        padding: 10px;
    }

    .nav_parent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .header__logo {
        margin-bottom: 30px !important;
        width: 130px;
        height: 100px;
        display: block;
        order: -1;
    }
}

.custom-dropdown__item {
    display: block;
    width: 50px;
    height: 30px;
    margin: 0 auto;
    padding: 0 10px !important;
}

.custom-dropdown__item img {
    max-width: 100%;
}

@media (max-width: 768px) {
    .header__row {
        display: block;
    }
}

.custom-navbar .navbar-brand {
    color: #fff;
    font-weight: bold;
    font-size: 32px;
    line-height: 35px;
}

.custom-navbar .navbar-brand span {
    color: #00bef9;
}

.custom-navbar .nav li a {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    line-height: 40px;
    letter-spacing: 0.3px;
    padding: 0 15px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}

.custom-navbar .nav li a img {
    width: 25px;
    height: 20px;
    max-width: 100%;
}

.custom-navbar .nav li a:hover {
    background: transparent;
    color: #ffffff;
}

.custom-nav-btn {
    background: transparent;
    font-weight: 700;
    color: #fff !important;
    padding: 20px !important;
    transition: all ease-in-out 0.4s;
    -webkit-transition: all ease-in-out 0.4s;
    border-radius: 0;
    line-height: 29px;
    letter-spacing: 0.3px;
    outline: 0;
    border: 0;
}

.custom-nav-btn:hover {
    background: #fff !important;
    color: #000 !important;
}

.custom-nav-btn:focus {
    outline: 0;
    border: 0;
}

.btn:active:focus, .btn:focus {
    outline: 0;
    outline-offset: 0;
}

.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: 0 !important;
    box-shadow: inset 0 0 0 rgb(0 0 0 / 0) !important;
}

.custom-navbar .nav li .calltxt {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    display: block;
    border: 1px dashed #fff;
    padding: 7px 20px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}

.header .header__logo {
    padding: 5px;
}

.custom-navbar .navbar-nav > li > a:hover, .custom-navbar .navbar-nav > li > a:focus {
    background-color: #fff;
    color: #000;
}

.custom-navbar .nav li.active > a {
    background-color: transparent;
    color: #00bef9;
}

.custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
}

.custom-navbar .navbar-toggle {
    background-color: #fff;
}

.custom-navbar .navbar-toggle .icon-bar {
    background: #000;
    border-color: transparent;
}

.navbar-collapse.in {
    overflow: visible;
    max-height: none;
    background: #000;
    padding: 0 25px;
}

.navbar-collapse.in li {
    margin: 0 0 10px 0;
}

.navbar-collapse.in .nav li.active a {
    color: #000;
}

.is-sticky .custom-navbar .nav li a {
    line-height: 24px;
}

@media (min-width: 768px) {
    .custom-navbar.top-nav-collapse {
        background: rgba(0, 0, 0, 0.7);
        padding: 6px 0;
    }
}

/*---------------------------------------
    Home section
-----------------------------------------*/
.main {
    position: relative;
}

.main-body {
    position: relative;
}

.main-body-content {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 113px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

@media (max-width: 768px) {
    .main-body-content {
        padding: 113px 10px 0 10px;
    }
}

.main-body-content__title {
    margin: 0;
    color: #fff;
}

.main-body-content__text {
    margin: 0;
    color: #fff;
}

/* .main__image {
	position: relative;
}
*/
.main__image img {
    height: 100%;
    width: 100%;
}

#home {
    color: #ffffff;
    position: relative;
    text-align: center;
    /* min-height: 600px; */
    padding: 130px 0 0 0;
    position: relative;
    z-index: 1;
}

#home h3 {
    color: #f0f0f0;
}

.overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.slide-text {
    margin-top: 170px;
    position: relative;
    z-index: 5;
}

.slide-text h1 {
    margin-top: 0;
}

.slide-text h3 {
    font-size: 30px;
}

.slide-text p {
    color: #fff;
    line-height: 24px;
    max-width: 770px;
    margin: 20px auto;
}

.slide-text h3 a span.wrap {
    background: #fff;
    padding: 7px 20px;
}

#js-rotating {
    border: 1px solid #fff;
    padding: 10px 20px;
    display: inline-block;
}

/*Banner Form*/
.bformBox {
    background: #fff;
    padding: 10px 20px;
    position: relative;
    border-radius: 20px;
    border: 1px solid #dde3ed;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.tabs {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 0;
}

.tab {
    padding: 10px;
    color: #000;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px 0 0;
    border-bottom: 3px solid #fff;
}

@media (max-width: 425px) {
    .tab {
        font-size: 16px;
        margin: 0 8px 0 0;
    }
}

.tab-img {
    margin: 0 0 5px 0;
}

.tab-img img {
    width: 100%;
    max-width: 30px;
}

.tab span {
    font-size: 1.5rem;
}

.tab:hover,
.tab.active {
    border-bottom: 3px solid #2b51e7;
}

.tab-content > div {
    padding: 0 10px;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.bformBox.nomr {
    margin-top: 0;
}

.bformBox h3 {
    color: #000;
    margin: 0 0 30px 0;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}

.group-icon {
    display: flex;
}

.group-icon .input-group-prepend {
    border-top-left-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;
}

.contact-form__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contact-form__row > div {
    flex: 0 0 16.6666%;
}

@media (max-width: 992px) {
    .contact-form__row {
        display: block;
    }
}

.form-group label {
    color: #fff;
}

.form-control {
    margin-top: 10px;
    height: 48px;
    border: 2px solid #eee;
    border-radius: 10px
}

.form-control:focus {
    box-shadow: none;
    border: 2px solid #039BE5
}

.group-icon .form-control {
    border-top-right-radius: 2.5rem !important;
    border-bottom-right-radius: 2.5rem !important;
}

.group-icon .input-group-prepend {
    background: #fff;
    line-height: 33px;
    text-align: center;
    padding: 10px 15px;
}

.bformBox .formrow {
    margin-bottom: 20px;
}

.bformBox .formrow textarea {
    max-width: 100%;
    min-height: 100px;
}

.bformBox .formrow .form-control {
    height: auto;
    border-radius: 0;
    padding: 10px 15px;
    font-size: 22px;
    border-color: #ddd;
    box-shadow: none;
    color: #999;
    border: none;
    background: #fff;
    /* border-radius: 2.5rem; */
    transition: outline .15s ease-in-out, box-shadow .15s ease-in-out;
}

.bformBox .formrow .form-control:focus {
    box-shadow: 0 0 0 2px #ff6d00;
}

.bformBox .formrow textarea.form-control {
    height: 100px;
}

.bformBox .formrow .bootstrap-select {
    padding: 0;
    background: none;
}

.bformBox .formrow .dropdown-toggle {
    padding: 10px 15px;
    border-radius: 0;
    font-size: 22px;
    color: #999;
    border: none;
    z-index: 1;
}

.bformBox .formrow .dropdown-toggle:hover, .bformBox .formrow .dropdown-toggle:active, .bformBox .formrow .dropdown-toggle:focus {
    background: #fff;
}

.bformBox .input-group-addon {
    background: #eee;
    color: #444;
    font-size: 16px;
    border-color: #eee;
    padding: 6px 20px;
}

.formrow .dropdown-menu .form-control {
    border: 1px solid #ddd;
    font-size: 16px;
    margin-bottom: 10px;
}

.formbtn {
    text-align: center;
    margin-top: 10px;
}

.formbtn .btn {
    background: #333;
    font-size: 18px;
    color: #fff;
    padding: 12px 30px;
    text-transform: uppercase;
    border-radius: 0;
    font-weight: 700;
}

.formbtn .btn:hover {
    background: rgba(0, 0, 0, 0.5);
}

.splide__arrow[disabled] {
    background: #909090;
}

.destinationList {
    overflow: hidden;
    padding: 0 0 40px 0;
}

.splide__arrow--next {
    top: 100% !important;
}

.splide__arrow--prev {
    top: -40px !important;
}

.hotel-splide {
}

.hotel-splide-body {
    display: flex;
    overflow: hidden;
}

.hotel-splide-body-content__contact {
    border-top: 1px solid #ccc;
    padding: 5px 0;
}

.hotel-splide-body-content__contact i {
    padding: 0 5px 0 0;
}

.hotel-splide-body-content__price {
    font-size: 25px;
    font-weight: 600;
}

.cut-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.hotel-splide-body-content {
    display: flex;
    flex-direction: column;
}

.hotel-splide-body-content-row {
    flex: 0.2 1 auto;
}

@media (max-width: 768px) {
    .hotel-splide-body {
        flex-direction: column;
    }

    .hotel-splide-body__image {
        padding: 27% !important;
    }

    .hotel-splide-body__image,
    .hotel-splide-body-content {
        margin: 0 !important;
    }

    .splide {
        padding: 0 0 15px 0;
    }

    .destinationList {
        overflow: visible;
    }

    .splide__arrow--next {
        transform: translateY(0px) !important;
    }

    .destinationList ul li h3 {
        padding: 15px 0 15px 0 !important;
    }
}

@media (max-width: 425px) {
    .hotel-splide-body__image {
        padding: 35% !important;
    }
}

/* @media (max-width: 700px) {
	.splide__arrow--next {
		transform: translateY(-10px) !important;
	}
}
@media (max-width: 650px) {
	.splide__arrow--next {
		transform: translateY(-25px) !important;
	}
}
@media (max-width: 600px) {
	.splide__arrow--next {
		transform: translateY(-40px) !important;
	}
} */
.splide__pagination {
    display: none !important;
}

div.hotel-splide-body__image {
    flex: 0 0 40%;
    margin: 0 10px 0 0;
    overflow: hidden;
    /* width: 100%; */
    padding: 13%;
}

.hotel-splide-body__image img {
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* width: 100%; */
    height: 100%;
    /* object-fit: cover; */
}

.hotel-splide-body-content {
    flex: 1 1 auto;
    margin: 0 0 0 10px;
}

/*---------------------------------------
   Cars List section
-----------------------------------------*/
.hotelslist {
    overflow: hidden;
}

.hotelslist .owl-stage-outer {
    transform: rotate(-90deg);
}

.hotelslist .item {
    transform: rotate(90deg);
}

.hotel-body {
    display: flex;
    /* flex: 0 0 360px; */
    border: 1px solid #ccc;
    border-radius: 1rem;
    overflow: hidden;
    margin: 0 0 0 3px;
    /* width: 360px;
	height: 300px; */
}

/* .hotel-сircuit {
	width: 360px;
	height: 300px;
} */
.hotel-body__image {
    flex: 0 0 auto;
    padding: 22%;
    position: relative;
}

.hotel-body__image img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.hotel-body-content {
    flex: 0 0 56.5%;
    padding: 0 10px;
}

.hotel-body-content__title {
    font-size: 24px;
    font-weight: 700;
    color: #2149e6;
    margin: 0;
    padding: 15px 0px;
}

.hotel-body-content__contact {
    color: #555;
    padding: 6px 0;
    border-top: 1px solid #eee;
}

.hotel-body-content__price {
    padding: 10px 0;
    font-size: 30px;
    font-weight: 700;
    color: #555;
}

.hotel-body-content__btn {
    display: inline-block;
    background: #555;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    transition: ease-in-out 0.3s;
}

.hotel-body .buttons a {
    display: inline-block;
    background: #555;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    transition: .15s ease-in-out;
}

.hotel .buttons a:hover {
    background: #2149e6;
}

.buttons {
    margin: 0 0 20px 0;
}

.destinationList ul li h3 {
    font-size: 24px;
    font-weight: 700;
    color: #2149e6;
    margin: 0;
    padding: 0 0 15px 0px;
}

.destinationList ul li .subtitle {
    color: #888;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 20px;
}

.destinationList ul li .subtitle:after {
    position: absolute;
    width: 40px;
    height: 5px;
    background: #00bef9;
    content: '';
    left: 0;
    bottom: 0;
}

.destinationList ul li .btn {
    display: block;
    background: #333;
    margin-top: 17px;
    color: #fff;
    /* text-transform: uppercase; */
    border-radius: 0;
    padding: 10px 30px;
    font-size: 18px;
}

.destinationList ul li .btn:hover {
    background: #00bef9;
}

.locwrap {
    /* border: 1px solid #eee; */
    font-size: 14px;
}

.destinationList ul li .imgbox,
.destinationList .ibg {
    overflow: hidden;
    padding: 20%;
    position: relative;
}

.destinationList ul li .imgbox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
}

.destinationList ul li .imgbox img,
.destinationList div.col-lg-3 .imgbox img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 100%;
}

.destinationList ul li:hover .imgbox img,
.destinationList div.col-lg-3:hover .imgbox img {
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.location {
    padding: 0 20px 10px 20px;
    color: #999;
}

.locwrap .meta {
    padding: 10px 20px 0 20px;
    border-top: 1px solid #eee;
}

.locwrap .meta span {
    display: inline-block;
    margin-right: 10px;
    color: #2149e6;
}

.locwrap .meta span i {
    color: #888;
}

.locwrap .prices {
    padding: 10px 20px;
    font-size: 30px;
    font-weight: 700;
    color: #555;
}

.locwrap .buttons {
    padding: 0 20px 20px 20px;
}

.locwrap .buttons a {
    display: inline-block;
    background: #555;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
}

.locwrap .buttons a:hover {
    background: #2149e6;
}

/*---------------------------------------
   Counter section
-----------------------------------------*/

#counter {
    background: #eee url(../images/counter-bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 60px 0
}

.animatebg {
    background: #0562da;
    -webkit-animation: bannerbg 5s linear 2s infinite alternate; /* Safari 4.0 - 8.0 */
    animation: bannerbg 5s linear 2s infinite alternate;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes bannerbg {
    0% {
        background-color: #0562da;
    }
    25% {
        background-color: #fec107;
    }
    50% {
        background-color: #c90157;
    }
    75% {
        background-color: #00bef9;
    }
    100% {
        background-color: #00bef9;
    }
}

/* Standard syntax */
@keyframes bannerbg {
    0% {
        background-color: #0562da;
    }
    25% {
        background-color: #fec107;
    }
    50% {
        background-color: #c90157;
    }
    75% {
        background-color: #00bef9;
    }
    100% {
        background-color: #00bef9;
    }
}

#counter .counter-number {
    display: block;
    color: #fff;
    font-size: 60px;
    line-height: 60px;
}

#counter span {
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}

.counter-icon {
    font-size: 60px;
    margin-bottom: 5px;
    color: #fff;
}

/*********************************************
		Revolution slider options
**********************************************/
.banner-owl {
    position: relative;
    /* min-height: calc(((100vw - 30px) * 0.4) + 15px) !important; */
}

.banner-owl .ibg {
    overflow: hidden;
    /* padding: 23.2%; */
}

.banner-owl .ibg img {
    height: 100%;
}

.banner-owl__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* min-height: calc(((100vw - 30px) * 0.4) + 15px); */
}

@media (max-width: 768px) {
    .mainblock,
    .banner-owl__image {
        min-height: calc(((100vw - 30px) * 0.8) + 15px) !important;
    }
}

/*---------------------------------------
    About section
-----------------------------------------*/

#about {
    padding: 70px 0;
}

.about-desc h2 {
    font-size: 36px;
    text-align: center;
    color: #272727;
    font-weight: 500;
    margin-bottom: 30px;
}

#about .about-desc h4 {
    margin-top: 0px;
    padding-bottom: 8px;
}

#about .about-desc p {
}

#about .about-desc a {
    color: #565656;
}

#about .about-desc a:hover {
    color: #00bef9;
}

.postimg2 {
    margin-top: 40px;
}

.circleList {
    list-style: none;
    margin-top: 50px;
}

.circleList li {
    text-align: center;
    margin-bottom: 0;
}

.circleList li .cricle {
    color: #fff;
    font-size: 36px;
    text-align: center;
    margin: 0 auto;
    background: #00bef9;
    padding: 15px 25px;
    display: inline-block;
    border-radius: 5px;
}

.circleList li .title {
    font-size: 18px;
    margin-top: 15px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #000;
}

.circleList li p {
    font-size: 14px;
}

#about .team-wrapper {
    position: relative;
    margin: 0;
    padding: 0;
}

#about .team-wrapper h2 {
    color: #353535;
    font-size: 26px;
    line-height: 32px;
}

#about .team-wrapper strong {
    color: #00bef9;
    font-weight: 600;
}

#about .team-wrapper img {
    border-radius: 2px;
    width: 100%;
}

#about .team-wrapper .team-desc {
    background: rgba(250, 250, 250, 0.5);
    position: absolute;
    cursor: crosshair;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    padding: 20em 4em 0 0;
    transition: all 0.4s ease-in-out;
    text-align: right;
}

#about .team-wrapper:hover .team-desc {
    opacity: 1;
    transform: scale(1.1);
}

ul.orderlist {
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0
}

ul.orderlist li {
    color: #333;
    font-size: 16px;
    position: relative;
    padding: 10px 0;
    padding-left: 45px;
    line-height: 30px;
    font-weight: 600;
}

ul.orderlist li:before {
    content: '\f00c';
    font-family: 'FontAwesome';
    position: absolute;
    left: 0;
    vertical-align: middle;
    color: #fff;
    background: #00bef9;
    padding: 4px 8px;
    line-height: 24px;
    font-weight: 400;
}

/*********************************************
			Services Start
**********************************************/
.servicesbox {
    padding: 100px 0;
}

.servicesbox h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    margin: 0 0 40px 0;
    position: relative;
}

.servicesbox h3:after {
    content: '';
    background: #2149e6;
    height: 2px;
    width: 60px;
    position: absolute;
    bottom: -20px;
    left: 0;
}

.servicesbox h3:before {
    content: '';
    background: #2149e6;
    height: 9px;
    width: 4px;
    position: absolute;
    bottom: -23px;
    left: 28px;
}

.servicesbox p {
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
    font-weight: 300;
    margin-top: 10px;
}

.servicesbox .readmore {
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: 600;
    background: #2149e6;
    border-radius: 0;
}

.servicesbox .readmore i {
    font-weight: 400;
    margin-left: 10px;
}

.servicesbox .readmore:hover {
    background: #fff;
    color: #333;
    text-decoration: none;
}

.dark h3 {
    color: #000;
}

.dark p {
    color: #000;
}

.bg1 {
    background: url(../images/service-bg-1.jpg) no-repeat left;
    background-size: cover;
    background-attachment: fixed;
}

#carouselWrapper {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

#carousel {
    position: absolute;
    visibility: hidden;
}

/*---------------------------------------
   			How it works
-----------------------------------------*/
.howitwrap {
    position: relative;
}

.howitwrap .section-title {
    text-align: left;
    padding-bottom: 15px;
}

.howitwrap .section-title h3:after {
    left: 0;
    margin-left: 0
}

.howitwrap .section-title h3:before {
    left: 26px;
    margin-left: 0
}

.howlist {
    list-style: none;
    margin-bottom: 20px;
}

.howlist li {
    margin-top: 30px;
}

.howlist li .howbox:after {
    display: table;
    clear: both;
    content: '';
}

.howlist li .iconcircle {
    margin-bottom: 15px;
    float: left;
    margin-right: 30px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #00bef9;
    text-align: center;
    line-height: 50px;
}

.howlist li .iconcircle i {
    font-size: 24px;
    color: #fff;
    margin-top: 22px;
    display: block;
}

.howlist li h4 {
    font-size: 18px;
    font-weight: 700;
    color: #444;
    margin-bottom: 5px;
}

.howlist li p {
    font-size: 16px;
    line-height: 24px;
    color: #555;
}

.fullimg {
    height: 650px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    width: 50%;
    float: left;
}

.stcontent {
    float: left;
    padding: 50px;
    width: 50%;
}

/*---------------------------------------
   Service section
-----------------------------------------*/

#service .service-thumb {
    margin-bottom: 30px;
    background: #00bef9;
    padding: 30px;
    transition: ease-in-out 0.3s;
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -ms-transition: ease-in-out 0.3s;
}

#service .service-thumb:hover {
    background: #333;
}

#service .service-thumb h4 {
    color: #fff;
    font-size: 24px;
}

#service .thumb-icon {
    background: rgba(0, 0, 0, 0.3);
    width: 70px;
    height: 70px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 10px;
    transition: ease-in-out 0.3s;
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -ms-transition: ease-in-out 0.3s;
}

#service .service-thumb:hover .thumb-icon {
    background: #00bef9;
}

#service .service-thumb p {
    color: #fff;
    margin-bottom: 0;
}

#service .fa {
    font-size: 24px;
    margin-top: 22px;
    color: #fff;
}

/*---------------------------------------
    Team section
-----------------------------------------*/
#team {
    background: #fff;
}

#team .thumb-image {
    margin-bottom: 15px;
    overflow: hidden;
    border: 1px solid #00bef9;
    transition: ease-in-out 0.3s;
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -ms-transition: ease-in-out 0.3s;
    padding: 50%;
}

.ibg {
    position: relative;
}

.ibg img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    /* height: 100%;	 */
}

#team .team-thumb:hover .thumb-image {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-color: #000;
}

#team .team-thumb h4 {
    margin: 0 0 5px 0;
    color: #2149e6;
    font-size: 24px;
}

#team .team-thumb p {
    padding: 0 15px;
}

#team .team-thumb h5 {
    color: #777;
    margin: 0 0 10px 0;
    font-weight: 400;
}

#team .team-thumb img {
    width: 100%;
}

#team .contct {
    color: #555;
    padding: 6px 0;
    border-top: 1px solid #eee;
}

#places .contct {
    color: #555;
    padding: 6px 0;
    border-top: 1px solid #eee;
}

#team .contct i,
#places .contct i {
    color: #2149e6;
    margin-right: 7px;
}

/* Social */
#places .social {
    /* padding: 0 20px; */
}

.social {
    margin-top: 15px;
    margin-bottom: 20px;
}

.social li a {
    display: block;
    height: 36px;
    width: 36px;
    color: #fff !important;
    line-height: 36px;
    text-align: center;
    text-decoration: none !important;
    background: #2149e6
}

.social li a:hover {
    background: #333;
}

/*---------------------------------------
    Testimonials section
-----------------------------------------*/
#testimonials {
    color: #fff;
    padding: 50px 0;
    background: #555 url(../images/testimonial-bg.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

#testimonials h2 {
    color: #555;
}

#testimonials .section-title {
    padding-bottom: 30px;
}

.testimonialsList {
    list-style: none;
}

.testimonialsList li {
    text-align: center;
    margin: 0 0 15px 0;
}

.testimonialsList li .clientname {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin-top: 10px;
}

.testimonialsList li p {
    font-style: italic;
    line-height: 26px;
    color: #ccc;
    max-width: 770px;
    margin: 0 auto;
    font-size: 18px;
}

.testimonialsList li .clientinfo {
    font-weight: 400;
    color: #00bef9;
}

#testimonials .section-title p {
    font-size: 18px;
    color: #fff;
}

.testimonialsList li .rating {
    color: #00bef9;
    font-size: 24px;
    margin-bottom: 10px;
}

/*---------------------------------------
    Taglinewrap section
-----------------------------------------*/
.taglinewrap {
    padding: 60px 0;
}

/* .taglinewrap h4 {
	color: #fff;
	margin-bottom: 0;
	font-size: 18px;
	letter-spacing: 5px;
} */
/* .taglinewrap h2 {
	color: #fff;
	margin-bottom: 15px;
	font-size: 48px;
	font-weight: 400;
} */
/* .taglinewrap p {
	color: #ccc;
	max-width: 800px;
	margin: 0 auto;
	font-size: 18px;
	line-height: 26px;
} */
/* .taglinewrap a {
	display: inline-block;
	background: #00bef9;
	padding: 15px 35px;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 25px;
} */
/* .taglinewrap a:hover {
	background: #fff;
	color: #000;
} */

.country {

}

.country__title {
    font-size: 22px;
    font-weight: bold;
}

.country-continents {
    display: flex;
    align-items: center;
    margin: 15px auto;
    max-width: 1050px;
}

.country-continents__image {
    flex: 0 0 32px;
}

.country-continents__image img {
    max-width: 100%;
}

.country-continents__text {
    font-size: 11pt;
    color: #e15869;
    font-weight: bold;
    margin: 0 0 0 10px;
}

.country-item {
    display: block;
    margin: 0 0 10px 0;
}

.country-item__link {
    display: inline-flex;
    align-items: center;
}

.country-item__image {
    flex: 0 0 22px;
}

.country-item__image img {
    max-width: 100%;
}

.country-item__text {
    color: #000000;
    font-weight: bold;
    padding: 0 0 0 10px;
    height: 17px;
}

@media (max-width: 768px) {
    .col-c {
        flex: 0 0 50%;
    }

    .country-row {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    .country-row {
        display: block;
    }
}

/************************************************
           == Home Blog css ==
*************************************************/
.hmblog .seprator {
    text-align: center;
}

.hmblog .mainblogpost {
    position: relative;
}

.hmblog .postimg:before {
    left: 20px;
    right: 20px;
    bottom: 20px;
    top: 20px;
    content: '';
    border: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 10;
    position: absolute;
}

.hmblog .postimg {
    overflow: hidden;
}

.hmblog .postimg img {
    display: block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 100%;
}

.subposts:hover img, .mainblogpost:hover img {
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.hmblog .postinfo {
    position: absolute;
    z-index: 20;
    left: 60px;
    bottom: 50px;
    right: 60px;
}

.hmblog .postinfo h3 a {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.hmblog .date {
    background: #00bef9;
    padding: 15px 20px;
    width: 80px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.hmblog .date strong {
    display: block;
    font-size: 30px;
}

.hmblog .date span {
    display: block;
    font-size: 18px;
    text-transform: uppercase;
}

.subposts {
    position: relative;
    margin-bottom: 30px;
}

.hmblog .subposts .postinfo h3 {
    line-height: 24px;
}

.hmblog .subposts .postinfo h3 a {
    font-size: 18px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.hmblog .subposts .date {
    width: auto;
    padding: 7px 15px;
    text-align: left;
    margin: 10px 0 0 0;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
}

.hmblog .subposts .postinfo {
    left: 40px;
    right: 40px;
    bottom: 35px;
}

/* =======================
		Blog Grid
======================= */
#blog {
    padding: 60px 0 50px 0;
}

.blogGrid {
    list-style: none;
}

.blogGrid li {
    margin-bottom: 30px;
}

.blogGrid li .postimg {
    position: relative;
    display: block;
    margin: 0;
    overflow: hidden;
}

.blogGrid li .postimg img {
    width: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.blogGrid li:hover .postimg img {
    -ms-transform: scale(1.2) rotate(5deg);
    -moz-transform: scale(1.2) rotate(5deg);
    -webkit-transform: scale(1.2) rotate(5deg);
    -o-transform: scale(1.2) rotate(5deg);
    transform: scale(1.2) rotate(5deg);
}

.postimg .date {
    font-weight: bold;
    font-size: 15px;
    color: #999;
    line-height: 20px;
}

.header {

}

.header__logo {
    width: 150px;
    height: 100px;
    margin-left: 30px;
}

.header__logo img {
    max-width: 100%;
}

.blogGrid li .post-header {
    margin-bottom: 15px;
    background: #333;
    padding: 25px;
}

.blogGrid li .post-header .date {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding-bottom: 10px;
}

.blogGrid li .post-header .date i {
    margin-right: 5px;
}

.blogGrid li .post-header h4 a {
    color: #00bef9;
}

.blogGrid li .post-header h4 a:hover {
    text-decoration: underline;
    color: #fff;
}

.blogGrid li p {
    font-size: 14px;
}

.blogGrid .readmore {
    display: inline-block;
    margin-top: 25px;
    color: #fff;
    font-weight: 600;
    padding: 10px 20px;
    background: #00bef9;
}

.blogGrid .readmore i {
    margin-left: 7px;
}

.blogGrid .readmore:hover {
    text-decoration: none;
    background: #000
}

.postmeta {
    margin: 10px 0 0 0;
    line-height: 24px;
    color: #999;
}

.postmeta span, .postmeta a {
    color: #fff;
    display: inline-block;
    margin-right: 10px;
}

/*---------------------------------------
    Contact section
-----------------------------------------*/
#contact {
    padding: 50px 0;
}

.contact {
    margin-bottom: 30px;
    border: 1px solid #eee;
    padding: 20px;
    text-align: left;
    background: #f9f9f9;
}

.contact > span {
    color: #00bef9;
    float: left;
    font-size: 30px;
    line-height: 55px;
    text-align: center;
    width: 60px;
    height: 60px;
    border: 1px solid #00bef9;
    background: #fff;
}

.inner-page .fa-home:before {
    content: "\f015";
}

.information {
    margin-top: 5px;
    padding-left: 80px;
}

.information > strong {
    color: #000;
    display: table;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.information > p {
    line-height: 22px;
    margin: 0;
}

.contact-form {
    position: relative;
}

.contact-form h4 {
    text-align: left;
    color: #333;
    font-size: 36px;
    margin: 0 0 30px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.contact-form h4 span {
    color: #00bef9;
    font-weight: 400;
}

#contact .form-control {
    border-color: transparent;
    border-radius: 0;
    box-shadow: none;
    font-size: 18px;
    margin-bottom: 30px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}

#contact input {
    border: 2px solid #f0f0f0 !important;
    height: 55px;
}

#contact input:focus, #contact textarea:focus {
    border-color: #00bef9 !important;
}

#contact textarea {
    background: #fff;
    border: 2px solid #f0f0f0 !important;
}

#contact button#submit {
    background-color: #2149e6;
    border: none;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 0;
    height: auto;
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
}

#contact button#submit:hover {
    background: #2149e6;
    color: #ffffff;
}

#map {
    width: 100%;
    height: 400px;
    border: none;
    display: block;
    pointer-events: none;
}

.frmap {
    margin-top: 10px;
}

/*---------------------------------------
    Address section
-----------------------------------------*/

#address {
    color: #333;
    text-align: left;
    margin-top: 10px;
}

#address .fa {
    font-size: 42px;
    color: #00bef9;
    float: left;
    width: 50px;
    height: 70px;
    margin-right: 15px;
}

#address h4 {
    color: #444;
    margin: 0;
}

#address p {
    color: #888;
    margin-bottom: 0
}

.address-office, .address-phone, .address-email {
    margin-bottom: 30px;
    clear: both;
    border: 1px solid #ddd;
    background: #fff;
    padding: 20px;
    min-height: 120px;
}

/*---------------------------------------
   Newsletter
-----------------------------------------*/
.newsletter {
    background: #00bef9;
    padding: 50px 0;
}

.newsletter h3 {
    margin: 0;
    font-size: 30px;
}

.newsletter h3, .newsletter p {
    color: #fff;
    margin: 0;
}

.newsletter .input-group {
    max-width: 675px;
    margin: 0 auto;
}

.newsletter .input-group:before {
    content: '\f2b7';
    font-family: 'FontAwesome';
    position: absolute;
    left: 20px;
    top: 12px;
    color: #ccc;
    font-size: 24px;
    z-index: 100
}

.newsletter .form-control {
    height: auto;
    padding: 17px 15px 17px 60px;
    font-size: 16px;
    border-radius: 0;
}

.newsletter .btn {
    background: #333;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 16px 30px 17px 30px;
    cursor: pointer;
    border: none;
    color: #fff;
    border-radius: 0;
}

/*---------------------------------------
   Clients
-----------------------------------------*/
.our-clients {
    padding: 50px 0;
    background: #f7f7f7;
}

.our-clients .owl-controls {
    display: none !important;
}

/*---------------------------------------
   Footer section
-----------------------------------------*/

footer {
    background: #00bef9 url(../images/footer-bg.jpg) no-repeat bottom;
    background-size: cover;
    padding: 40px 0;
    text-align: center;
}

.socialLinks {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .socialLinks {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        justify-content: space-around;
        align-items: center;
    }

    .header__logo {
        margin-bottom: 50px
    }
}

.socialLinks a {
    font-size: 18px;
    color: #fff;
    display: inline-block;
    margin: 0 5px;
    width: 36px;
    height: 36px;
    background: #00bef9;
}

.socialLinks a img {
    width: 20px;
    height: 20px;
}

.socialLinks a:hover {
    color: #00bef9;
    background: #fff;
}

.socialLinks a i {
    display: block;
    margin-top: 9px;
}

footer .footer-copyright p {
    color: #fff;
    margin-bottom: 0;
}

.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #000;
    padding: 5px;
    opacity: 0.5;
    border-radius: 50%;
}

.scrollup i {
    color: #fff;
    display: block;
    line-height: 30px;
    text-align: center;
}

.scrollup:hover {
    opacity: 1;
    text-decoration: none;
}

.successpage {
    width: 100%;
    text-align: center;
    position: fixed;
    left: 0;
    top: 50%;
    margin-top: -170px;
}

.successpage .btn {
    background: #00bef9;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 0;
    margin-top: 25px;
}

.successpage .btn:hover {
    background: #444;
}

.successpage h1 {
    color: #56b50f;
    font-size: 48px;
}

.successpage h2 {
    font-weight: 300;
    color: #444;
}

.successpage p {
    max-width: 770px;
    margin: 10px auto;
}

/* =======================
		Blog Listing
======================= */
.blogWraper {
    margin-bottom: 40px;
}

.custom-row {
    display: flex;
    flex-wrap: wrap;
}

.blogList {
    list-style: none;
}

.blogList li {
    background: #fff;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #e4e4e4;
}

.blogList li:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-color: #00bef9;
}

.blogList li .postimg {
    position: relative;
}

.blogList li .postimg .date {
    width: 60px;
    height: 60px;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    padding: 7px 10px 0 10px;
    text-align: center;
    line-height: 20px;
    background: #00bef9;
    letter-spacing: 0.4px;
    outline: 3px solid #00bef9;
    border: 1px solid #fff;
    position: absolute;
    left: 14px;
    top: 14px;
    z-index: 12;
}

.post-header {
    margin-bottom: 15px;
}

.post-header h4 a {
    font-size: 24px;
    color: #333;
    font-weight: 600;
}

.post-header h4 a:hover {
    color: #00bef9;
}

.postmeta {
    margin: 10px 0;
    font-size: 14px;
}

.postmeta span, .postmeta a {
    color: #00bef9;
}

.custom-card img {
    width: 100%;
}

.blogList li p,
.blogList .custom-card p {
    font-size: 14px;
    line-height: 24px;
    color: #777;
}

.blogList li .readmore,
.blogList .custom-card .readmore {
    background: #00bef9;
    display: inline-block;
    margin-top: 5px;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    padding: 10px 25px;
}

.blogList li .readmore i,
.blogList .custom-card .readmore i {
    margin-left: 5px;
}

.blogList li .readmore:hover,
.blogList .custom-card .readmore:hover {
    text-decoration: none;
    background: #333;
}

/*Pagination*/
.pagiWrap .showreslt {
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}

.pagiWrap .pagination {
    text-align: right;
    margin: 0;
}

.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
    border-radius: 0;
}

/*Side bar*/
.sidebar {
    background: #f9f9f9;
    border: 1px solid #eee;
    padding: 20px;
    margin-bottom: 30px;
}

.sidebar .widget {
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.sidebar .widget-title {
    font-size: 18px;
    font-weight: 600;
    color: #666;
    margin-bottom: 20px;
}

/*Sidebar Search*/
.search {
    position: relative;
    margin-bottom: 15px;
}

.search .form-control {
    border-radius: 0;
    height: auto;
    padding: 10px 12px;
    border-color: #ddd;
}

.search .btn {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0;
    background: none;
    font-size: 20px;
}

/*categories*/
.categories li {
    margin-bottom: 15px;
    position: relative;
    padding-left: 17px;
}

.categories li a {
    margin-top: 0;
    color: #888;
    font-size: 14px;
    font-weight: 600;
}

.categories li a:hover {
    color: #000;
}

.categories li:before {
    content: "\f0da ";
    font-family: 'FontAwesome';
    position: absolute;
    left: 0px;
    color: #00bef9;
    font-size: 12px;
}

/*Archives*/
.archive li {
    line-height: 45px;
}

.archive li a {
    margin-top: 0;
    color: #888;
    font-size: 14px;
    font-weight: 600;
}

.archive li span {
    float: left;
    height: 30px;
    width: 30px;
    text-align: center;
    background: #f5f5f5;
    border: 1px solid #fff;
    outline: 3px solid #f5f5f5;
    margin-right: 20px;
    line-height: 26px;
    font-size: 12px;
    color: #777777;
    margin-top: 10px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.archive li a:hover span {
    background: #00bef9;
    color: #fff;
}

/*Popular Posts*/
.papu-post {
}

.papu-post .media-left {
    margin-right: 0px;
}

.papu-post .media-left img {
    width: 100%;
}

.papu-post .media-left a {
    width: 80px;
    margin-top: 0;
    margin-right: 5px;
    display: inline-block;
}

.papu-post span {
    color: #00bef9;
    letter-spacing: 0px;
    font-size: 11px;
}

.papu-post li {
    border-bottom: 1px solid #ececec;
    padding: 20px 0;
    margin: 0px;
}

.papu-post .media-heading {
    display: inline-block;
    width: 100%;
    color: #777777;
    margin-top: 0px;
    font-size: 14px;
    line-height: 20px;
}

.papu-post li:last-child {
    border-bottom: 0;
}

/*Tags*/
.tags:after {
    display: table;
    clear: both;
    content: '';
}

.tags li {
    display: inline-block;
    float: left;
}

.tags a {
    font-size: 13px;
    color: #969595;
    border: 1px solid #dadada;
    padding: 7px 10px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
    background: #fff;
}

.tags a:hover {
    border: 1px solid #00bef9;
    background: #00bef9;
    color: #fff;
    text-decoration: none;
}

/*Photo Streen*/
.photo-steam {
    margin: 0 -5px;
}

.photo-steam:after {
    display: table;
    clear: both;
    content: '';
}

.photo-steam li {
    float: left;
    width: 25%;
    padding: 0 5px;
    margin-bottom: 10px;
}

.blogdetailbox .date {
    margin-top: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.blogdetailbox p {
    font-size: 14px;
}

/*Comments*/
blockquote {
    display: block;
    font-size: 16px;
    line-height: 24px;
    margin: 20px 0;
    padding: 20px 20px 20px 60px;
    position: relative;
    border: 3px solid #00bef9;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

blockquote p {
    font-style: italic;
    display: inline-block;
    color: #000;
}

blockquote:before {
    color: #ddd;
    content: "\f10d";
    font-family: 'FontAwesome';
    font-size: 22px;
    font-style: normal;
    left: 24px;
    position: absolute;
    top: 20px;
    transform: scale(-1);
}

blockquote:after {
    color: #ddd;
    content: "\f10e";
    display: inline-block;
    font-family: 'FontAwesome';
    font-size: 22px;
    font-style: normal;
    margin: 0 0 0 8px;
    position: relative;
    top: 3px;
}

.comments h4 {
    color: #222222;
    font-size: 24px;
    font-weight: 600;
}

.comments .media-body h4 span {
    font-size: 12px;
    color: #777777;
    margin-left: 20px;
    display: inline-block;
    width: 100%;
}

.comments {
    margin-top: 30px;
}

.comments .media-list {
    margin-bottom: 30px;
}

.comments .media-list li {
    padding: 20px;
    border: 1px solid #e9e9e9;
    position: relative;
    background: #fff;
}

.comments .media-left {
    margin-right: 20px;
}

.comments .media-left a {
    width: 100px;
    display: inline-block;
}

.comments .media p {
    margin-top: 5px;
    color: #333;
    line-height: 20px;
    font-size: 14px;
}

.comments .media h6 span {
    font-size: 13px;
    color: #999;
    margin: 0;
    margin-top: 10px;
    text-transform: none;
    display: inline-block;
    width: 100%;
}

.comments .media {
    margin-top: 30px;
}

.comments .media h6 {
    font-weight: 600;
    color: #00b1f1;
    font-size: 16px;
    text-transform: none;
}

.margin-left80 {
    margin-left: 80px;
}

.comments .btn.raply {
    padding: 10px 12px;
    font-size: 12px;
    color: #333;
    background: #f5f5f5;
    border: none;
    border-radius: 0;
    position: absolute;
    top: 15px;
    right: 0;
}

.comments .btn.raply:hover {
    background: #00b1f1;
    color: #fff;
}

.comments .media a img {
    margin-bottom: 10px;
}

.commnetsfrm {
    background: #fff;
    padding: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.comments form label {
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    font-size: 12px;
}

.comments form .form-control {
    display: inline-block;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    border-radius: 0px;
    box-shadow: none;
    background: none;
    border: 1px solid #e8e8e8;
}

.comments form textarea.form-control {
    display: inline-block;
    width: 100%;
    height: 150px;
}

.commnetsfrm .btn {
    background: #00bef9;
    color: #fff;
    font-weight: 700;
    margin-top: 20px;
    font-size: 18px;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 0px;
}

.innercms {
    padding: 50px 0;
}

.custom-card {
    margin: 0 0 20px 0;
}

.pageTitle {
    background: url(../images/home-bg.jpg) no-repeat top;
    background-size: cover;
    text-align: center;
    padding: 120px 0 50px 0;
}

.pageTitle h1 {
    color: #fff;
    margin-top: 50px;
    text-align: center;
}

.pagiWrap {
    margin-top: 40px;
    text-align: right;
}

.pagiwrap .page-link {
    margin: 0 5px;
    border-radius: 0px !important;
    color: #000;
}

.page-item:last-child .page-link, .page-item:first-child .page-link {
    padding: .5rem 1.5rem;
}

.page-item.active .page-link {
    background: #00bef9;
    border-color: #00bef9;
}

/************************************************
           == FAQs css==
*************************************************/
#faqs {
    background: #f7f7f7;
}

.faqs .panel-default > .panel-heading {
    background: none;
    border: none;
    padding: 0;
}

.faqs h4 a {
    padding: 10px 55px 10px 15px;
    display: block;
    background: #00bef9;
    color: #fff;
    font-size: 16px;
    position: relative;
}

.panel-group .panel {
    border-radius: 0;
    margin-bottom: 20px;
}

.panel-group .panel-body {
    line-height: 24px;
    color: #555;
}

.faqs h4 .collapsed:hover, .faqs h4 a:hover, .faqs h4 a:active {
    text-decoration: none;
    background: #00bef9;
    color: #fff;
}

.faqs h4 a:before {
    content: "\f068";
    background: #fff;
    font-family: 'FontAwesome';
    width: 30px;
    padding: 6px 0;
    color: #00bef9;
    position: absolute;
    right: 15px;
    top: 8px;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    line-height: 18px;
}

.faqs h4 .collapsed:before {
    content: "\f067";
    font-family: 'FontAwesome';
    background: #666;
    width: 30px;
    padding: 6px 0;
    color: #fff;
    position: absolute;
    right: 15px;
    top: 8px;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    text-decoration: none;
}

.faqs h4 a.collapsed {
    background: #fff;
    color: #666;
    text-decoration: none;
}


/*---------------------------------------
   Mobile Responsive styles
-----------------------------------------*/
@media (max-width: 1024px) {
    .custom-navbar .nav li a {
        padding: 10px 15px;
    }

    .custom-navbar .navbar-brand {
        font-size: 24px;
        line-height: 24px;
    }

    .navbar-right {
        margin-top: 10px;
    }

    .stcontent, .fullimg {
        float: none;
        width: auto;
    }

    .fullimg {
        height: 350px;
        margin: 30px 30px 0 30px;
    }
}

@media (max-width: 990px) {
    h1 {
        font-size: 52px;
    }

    .is-sticky .navbar-brand {
        display: none;
    }

    .custom-navbar .nav li a {
        padding: 0px 10px;
    }

    .custom-navbar .nav li .calltxt {
        margin-top: 0;
        padding: 7px 15px
    }

    .is-sticky .custom-navbar .nav li .calltxt {
        margin-top: 0;
    }

    .navbar-header {
        float: none;
        text-align: center;
    }

    .navbar-brand {
        float: none;
        display: inline-block;
    }

    .custom-navbar {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        padding-bottom: 30px;
    }

    .is-sticky .custom-navbar {
        padding-bottom: 10px;
    }

    .is-sticky .custom-navbar .nav li a {
        padding: 10px 15px;
    }

    .pageTitle {
        padding-top: 170px;
    }

    .image-popup {
        display: block;
        margin: 30px 0;
    }

    .servicesbox {
        padding: 60px 30px;
    }

    .servicesbox h3 {
        font-size: 30px;
    }

    #counter .counter-number {
        font-size: 48px;
    }

    #service .service-thumb-first, #service .service-thumb-second {
        margin-bottom: 32px;
    }

    ul.orderlist li {
        float: none;
        width: auto;
        line-height: 20px;
        padding: 15px 0;
        padding-left: 45px;
    }

    #team .team-thumb {
        margin-bottom: 30px;
    }

    .postimg {
        margin-top: 30px;
        margin-bottom: 30px
    }

    .newsletter, #blog, #work {
        padding: 50px 15px;
    }

    .taglinewrap {
        padding: 50px 15px;
    }
}

@media (max-width: 880px) {
    .portfolio-grid li .itemtitle p {
        font-size: 14px;
        line-height: 22px;
    }

    .header__logo {
        margin-bottom: 50px
    }

    .portfolio-grid li .itemtitle {
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .header_parent {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__logo {
        margin-bottom: 50px
    }

    .navbar-header::after {
        content: '';
        display: none;
    }

    .header_parent .header_button {
        order: 3;
    }

    .header_parent .header__logo {
        order: 1;
    }

    .header_parent .icons {
        order: 2;
    }

    .icons {
        display: flex;
        overflow: auto;
    }

    h1 {
        font-size: 48px;
    }

    #counter .counter-item {
        margin-top: 28px;
        margin-bottom: 28px;
    }
}

@media (max-width: 767px) {
    .navbar-header {
        text-align: left;
    }

    .custom-navbar {
        border-bottom: 0;
        padding-bottom: 0;
    }

    .sticky-wrapper, .navbar-collapse.in {
        z-index: 100000;
    }

    .is-sticky .navbar-collapse.in {
        /* background: #eee; */
    }

    .is-sticky .navbar-brand {
        display: block;
    }

    .custom-navbar .navbar-brand {
        line-height: 15px;
    }

    .custom-navbar .nav li .calltxt {
        border-left: 0;
    }

    .slide-text {
        margin-top: 80px;
    }

    .typewrite span {
        color: #2149e6 !important;
    }

    #home .typewrite {
        display: block;
    }

    #home .typewrite .wrap {
        display: inline-block;
    }

    #home {
        min-height: 500px;
    }

    .videobox {
        margin-top: 40px;
    }

    .circleList li {
        margin-top: 30px;
    }

    .vehiclesList ul li h3, .vehiclesList ul li .subtitle, .vehiclesList ul li .carPrice {
        text-align: center;
    }

    .vehiclesList ul li .subtitle:after {
        left: 50%;
        margin-left: -20px;
    }

    .pageTitle {
        padding-top: 90px;
    }

    .margin-left80 {
        margin-left: 0;
    }

    #about .about-desc {
        margin-bottom: 32px;
    }

    #address .address-phone {
        margin-top: 22px;
        margin-bottom: 22px;
    }

    #team .team-thumb {
        margin-bottom: 30px;
    }

    .is-sticky .custom-navbar .nav li a {
        line-height: 30px;
    }

    #service .service-thumb {
    }

    #counter .counter-number {
        font-size: 48px;
    }

    .parallax-section, #about, #packages {
        padding: 80px 15px;
    }

    .videowraper, .howitwrap {
        padding: 50px 15px;
    }

    .howlist li .iconcircle {
        margin-bottom: 50px;
    }
}

@media (max-width: 769px) {
    .parallax-section {
        padding: 40px 0;
    }
}

@media (max-width: 580px) {
    h1 {
        font-size: 29px
    }

    h2 {
        font-size: 24px;
        line-height: 42px;
    }

    h3 {
        font-size: 12px;
        letter-spacing: 2px;
    }

    .slide-text h1 {
        margin-top: 20px;
    }

    .slide-text p {
        margin-top: 10px;
    }
}

@media (max-width: 350px) {
    #about .team-wrapper .team-desc {
        padding-top: 14em;
    }
}

/***************************************************************************************************************************************************************
		Revolution slider options
***************************************************************************************************************************************************************/
.tp-banner-container {
    position: relative;
    z-index: 0;
    padding: 0;
    width: 100%;
}

.tp-banner {
    position: relative;
    width: 100%;
    z-index: 2;
}

.tp-banner ul {
    padding: 0;
    margin: 0;
}

.tp-caption {
    line-height: normal !important
}

.tp-caption a {
    color: inherit !important;
}

.tp-bullets.simplebullets.round .bullet {
    border: 3px #fff solid;
    border-radius: 50%;
    background-image: none !important;
}

.tparrows {
    width: auto !important;
    height: auto !important;
    background-image: none !important;
}

.tp-arr-allwrapper {
    margin: 0 10px;
    width: 50px;
    height: 60px;
}

.tp-arr-allwrapper:hover .tp-arr-iwrapper {
    color: #fff;
}

.tp-leftarrow .tp-arr-allwrapper {
}

.tp-rightarrow .tp-arr-allwrapper {
}

.tp-arr-iwrapper {
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-family: 'FontAwesome';
    line-height: 60px;
}

.tp-leftarrow .tp-arr-iwrapper {
}

.tp-leftarrow .tp-arr-iwrapper:before {
    content: "\f104";
}

.tp-rightarrow .tp-arr-iwrapper:before {
    content: "\f105";
}

.tp-rightarrow .tp-arr-iwrapper {
}

.slide-h1 {
    margin: 5px 0 !important;
    padding: 0 0 10px !important;
    padding-bottom: 5px !important;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 57px;
}

.slide-h2 {
    margin: 5px 0 !important;
    padding: 0 0 10px !important;
    padding-bottom: 5px !important;
    color: #555;
    font-weight: bold;
    font-size: 55px;
    line-height: 100%;
}

.big-font {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 60px;
}

.large-desc {
    font-size: 16px;
}

.slide-h3 {
    color: #fff;
    font-size: 31px;
    line-height: 100%;
}

.slide-h3 span {
    text-transform: uppercase;
    font-weight: bold;
}

.slide-head {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
}

.slide-desc {
    font-size: 22px;
    line-height: 150%;
}

.main-title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 70px;
}

.icon-cont {
    padding: 15px 40px;
    border-radius: 10px;
    text-align: center;
}

.icon-cont:after {
    position: absolute;
    bottom: -10px;
    left: 40%;
    z-index: 5;
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 10px 10px 0 10px;
    border-style: solid;
    content: "";
}

.icon-cont i {
    margin-bottom: 10px;
    color: #fff;
    font-size: 50px;
}

.icon-cont span {
    display: block;
    padding: 0 0 5px;
    color: #fff;
    text-align: center;
    font-size: 18px;
}

a.wit-btn {
    background: #fff;
    color: #333 !important;
    text-transform: uppercase;
}

.wit-line {
    width: 5%;
    height: 1px;
    background: #fff;
}

.vert-line {
    min-height: 270px;
    width: 1px;
    background: #fff;
}

.subTxt {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    color: #333;
}

.large-title {
    color: #222;
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase !important;
}

.large-light-title {
    color: #787878 !important;
    font-size: 70px;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 2px
}

.large-text {
    font-size: 20px;
    color: #000;
    font-weight: lighter;
}

.larger-text {
    font-size: 24px;
    font-weight: lighter;
    text-transform: uppercase;
}

.witTxt {
    color: #fff !important;
}

.light-font {
    font-weight: lighter !important;
    font-size: 50px;
}

.black-bg {
    background: rgba(0, 0, 0, .63);
    color: #a8a8a8;
    text-transform: none;
}

.lft-list {
    padding: 10px;
    font-size: 18px;
    color: #fff;
}

.wit-border {
    border: 1px #fff solid;
    padding: 15px 60px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}

.rounded-bord {
    margin-right: 15px;
    border: 1px #fff solid;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
    border-radius: 50%;
}

#vertical-ticker {
    height: 120px;
    overflow: hidden;
}

#vertical-ticker li {
    padding: 15px 20px;
    display: block;
    text-align: center;
}

.to-bottom i.fa {
    font-size: 30px;
    border: 2px #a8a8a8 solid;
    padding: 20px 22px;
    border-radius: 50%;
    -webkit-animation: bounce 2s infinite linear;
    animation: bounce 2s infinite linear;
}

.slidertext1 {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    padding: 15px 0;
    text-transform: none !important;
    font-family: 'Roboto', sans-serif;
}

.slidertext1 span {
    color: #00bef9;
}

.slidertext2 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    padding: 15px 0;
    text-transform: none;
    font-family: 'Roboto', sans-serif;
}

.sliderpara {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 0;
    text-transform: none !important;
}

.sliderbtn a {
    color: #fff !important;
}

.sliderbtn a:hover {
    color: #000 !important;
}

.tp-bannertimer {
    display: none;
}

@-webkit-keyframes bounce {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-30%);
    }
    100% {
        transform: translateY(0);
    }
}

/* Mozilla Firefox 15 below */
@-moz-keyframes bounce {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-30%);
    }
    100% {
        transform: translateY(0);
    }
}

/* Opera 12.0 */
@-o-keyframes bounce {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-30%);
    }
    100% {
        transform: translateY(0);
    }
}

/* W3, Opera 12+, Firefox 16+ */
@keyframes bounce {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-30%);
    }
    100% {
        transform: translateY(0);
    }
}

.menu a.parent {
    margin: 0 20px 0 0;
}

.menu__list {
    /* display: -webkit-box; */
    /* display: -ms-flexbox; */
    /* display: flex; */
}

@media (max-width: 767.98px) {
    .menu__list {
        display: block;
    }
}

.menu__list > li {
    margin: 0 10px 0 0;
}

@media (max-width: 767.98px) {
    .menu__list > li {
        margin: 0 0 10px 0;
    }
}

.menu__list li {
    position: relative;
}

.menu__list_item {
    cursor: pointer;
}

.menu__list_language {
    /* border: 1px solid rgb(206, 212, 218); */
    background: none;
    border-radius: 2rem;
}

.menu__list_language .parent {
    color: #ffffff;
}

.menu__list_language .arrow {
    margin: 0 5px 0 0;
    border-top-color: #ffffff;
}

.menu__item {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    line-height: 40px;
    letter-spacing: 0.3px;
    padding-left: 10px;
    transition: all 0.4s ease-in-out 0s;
    cursor: pointer;
}

.sub-menu__list li a {
    padding: 0 16.5px !important;
    color: #000 !important;
}

.sub-menu__list {
    position: absolute;
    left: 45%;
    top: 35px;
    padding: 0;
    min-width: 60px;
    display: none;
    border: 1px solid #dde3ed;
}

@media (max-width: 767.98px) {
    .sub-menu__list {
        position: relative;
        top: 0;
        left: 0;
    }
}

.sub-menu__list > li {
    background: #fff;
}

.sub-menu__item {
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
}

.sub-menu__arrow.arrow {
    right: 10px;
    border-left: 7px solid #fff;
    border-right: none;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
}

@media (max-width: 767.98px) {
    .sub-menu__arrow.arrow {
        border-top: 7px solid #fff;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
    }
}

.sub-sub-menu__list {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    padding: 0 0 0 0;
    min-width: 300px;
}

@media (max-width: 767.98px) {
    .sub-sub-menu__list {
        position: relative;
        top: 0;
        left: 0;
    }
}

.sub-sub-menu__list li {
    background: #fff;
}

.sub-sub-menu__item {
    color: #000;
    display: inline-block;
    padding: 5px 10px;
}

.arrow {
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    top: 17px;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}

.arrow.active {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

body.mouse ul.menu__list > li:hover ul.sub-menu__list {
    display: block !important;
}

body.mouse .sub-menu__list > li:hover .sub-sub-menu__list {
    display: block !important;
}

body.touch .sub-menu__list.open {
    display: block !important;
}

body.touch .sub-sub-menu__list.open {
    display: block !important;
}

body.touch .arrow {
    display: block !important;
}

/* Need Halil */
.pageTitle {
    text-align: center;
    padding: 80px 0 80px 0;
    position: relative;
}

.page-container {
    position: relative;
    z-index: 5;
}

.page-img {
    position: static;
}

.page-img img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
}

/* Need Halil */