{% extends 'layout/base.html' %}
{% load static i18n %}
{% block content %}
    <div class="pageTitle">
        <div class="container page-container">
{#            <h1 class="page-heading" style="">{% translate 'Страны' %}</h1>#}
        </div>
        <div class="page-img ibg">
            <img src="{{ header.image.url }}" alt="">
        </div>
        <div class="overlay"></div>
    </div>
    <div class="wrapper">
        <div class="taglinewrap">
            <div class="container">
                <div class="country">
                    <h2 class="country__title">{% translate 'Страны' %}</h2>
                    {% for region in regions %}
                        <a href="{% url 'tour-list' %}?region={{ region.id }}">
                            <div class="country-continents">
                                <div class="country-continents__image">
                                    <img src="{{ region.icon.url }}" alt="">
                                </div>
                                <div class="country-continents__text">{{ region.title }}</div>
                            </div>
                        </a>
                        <div class="row country-row">
                            <div class="col-md-12 col-sm-12 col-c">
                                {% for country in region.countries.all %}
                                    <div class="country-item">
                                        <a class="country-item__link" href="{% url 'tour-list' %}?to={{ country.id }}">
                                            <div class="country-item__image">
                                                <img src="{{ country.icon.url }}" alt="">
                                            </div>
                                            <div class="country-item__text">
                                                {{ country.title }}
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}