{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aviata Travel</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="Aviata Agency">
    <meta name="keywords"
          content="Aviata, Aviata agency, Авиата, Авиата агенси">
    <meta name="author" content="Djalolov Abdukhalil">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap css -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}"/>

    <!-- Fontawesome css -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

    <!-- Magnific-popup css -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

    <!-- Owl Carousel css -->
    <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">

    <link rel="stylesheet" href="{% static 'css/splide.min.css' %}">
    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

<!-- PRE LOADER -->
<div class="preloader">
    <div class="cssload-dots">
        <div class="cssload-dot"></div>
        <div class="cssload-dot"></div>
        <div class="cssload-dot"></div>
        <div class="cssload-dot"></div>
        <div class="cssload-dot"></div>
    </div>
</div>

<div class="wrapper">
    <!-- Navigation Section -->
    <div class="navbar custom-navbar wow fadeInDown" data-wow-duration="2s" role="navigation" id="header"
         style="border-bottom: none;">
        <div class="container">

            <!-- NAVBAR HEADER -->
            <div class="header__row">
                <div class="navbar-header header header_parent">
                    <button class="navbar-toggle header_button" data-toggle="collapse"
                            data-target=".navbar-collapse"><span
                            class="icon icon-bar"></span> <span class="icon icon-bar"></span> <span
                            class="icon icon-bar"></span></button>
                    <!-- lOGO TEXT HERE -->
                </div>

                <!-- NAVIGATION LINKS -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right nav_parent">
                        <li><a href="{% url 'uzbekistan-tour-list' %}" style="font-size: 19px;"
                               class="">{% translate 'Uzbekistan' %}</a>
                        </li>
                        <li><a href="{% url 'country-list' %}" style="font-size: 19px;"
                               class="">{% translate 'Страны' %}</a>
                        </li>
                        <li><a href="{% url 'tour-list' %}" style="font-size: 19px;"
                               class="">{% translate 'Туры' %}</a>
                        </li>

                        <a href="/" class="navbar-brand header__logo" data-da=".header_parent, 768, last"
                           style="margin-left: 18px;">
                            <img src="{% static 'logo.png' %}" alt="">
                        </a>

                        {#                        <li class="menu">#}
                        {#                            <ul class="menu__list">#}
                        {#                                <li class="menu__list_item">#}
                        {#                                    <div href="" class="menu__item"#}
                        {#                                         style="font-size: 19px; color: black;">{% translate 'Контакты' %}</div>#}
                        {#                                    <span class="menu__arrow arrow"></span>#}
                        {#                                    <ul class="sub-menu__list">#}
                        {#                                        <li><a href="tel:+998882897770" style="font-size: 14px;" class="">+998 88 289 77#}
                        {#                                            70</a></li>#}
                        {#                                        <li><a href="mailto:aviata.travelagency@mail.ru" style="font-size: 14px;"#}
                        {#                                               class="">aviata.travelagency@mail.ru</a>#}
                        {#                                        </li>#}
                        {#                                        <li><a href="https://t.me/aviakassaaviata" class=""><img#}
                        {#                                                src="{% static 'images/brands/telegram.svg' %}"#}
                        {#                                                alt=""></a></li>#}
                        {#                                        <li><a href="https://instagram.com/aviakassa_aviata?utm_medium=copy_link"#}
                        {#                                               class=""><img#}
                        {#                                                src="{% static 'images/brands/instagram.svg' %}"#}
                        {#                                                alt=""></a></li>#}
                        {#                                        <li><a href="" class=""><img#}
                        {#                                                src="{% static 'images/brands/facebook-colored.svg' %}" alt=""></a></li>#}
                        {#                                        <li><a href="mailto: aviata.travelagency@mail.ru" class=""><img#}
                        {#                                                src="{% static 'images/brands/email.svg' %}"#}
                        {#                                                alt=""></a></li>#}
                        {#                                    </ul>#}
                        {#                                </li>#}
                        {#                            </ul>#}
                        {#                        </li>#}
                        <li><a href="{% url 'question-list' %}"
                               class="" style="font-size: 19px;">{% translate 'Полезное' %}</a>
                        </li>
                        <li class="menu">
                            <ul class="menu__list" data-da=".nav_parent, 768, last">
                                <li class="menu__list_item menu__list_language">
                                    <div class="menu__item" style="font-size: 19px;">{% translate 'Контакты' %}</div>
                                    <i class="arrow"></i>
                                    <ul class="sub-menu__list">
                                        <li><a href="https://t.me/aviakassaaviata">
                                            <img src="{% static 'images/brands/telegram.svg' %}" alt=""></a></li>
                                        <li><a href="https://instagram.com/aviakassa_aviata?utm_medium=copy_link"><img
                                                src="{% static 'images/brands/instagram.svg' %}" alt=""></a></li>
                                        <li><a href=""><img
                                                src="{% static 'images/brands/facebook-colored.svg' %}" alt=""></a></li>
                                        <li><a href="mailto: aviata.travelagency@mail.ru" style="color: black"><img
                                                src="{% static 'images/brands/email.svg' %}"
                                                alt=""></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        {#                        <li class="boot-dropdown">#}
                        {#                            <div class="dropdown">#}
                        {#                                <button style="background: transparent;font-weight: 700;color: #fff;"#}
                        {#                                        class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"#}
                        {#                                        data-toggle="dropdown" aria-expanded="false">#}
                        {#                                    {% translate 'Язык' %}#}
                        {#                                </button>#}
                        {#                                <div class="dropdown-menu custom-dropdown" aria-labelledby="dropdownMenuButton">#}
                        {#                                    <a class="dropdown-item custom-dropdown__item" href="{{ path_ru }}"><img#}
                        {#                                            src="{% static 'images/flags/russia.svg' %}" alt=""></a>#}
                        {#                                    <a class="dropdown-item custom-dropdown__item" href="{{ path_en }}"><img#}
                        {#                                            src="{% static 'images/flags/united-states.svg' %}" alt=""></a>#}
                        {#                                    <a class="dropdown-item custom-dropdown__item" href="{{ path_uz }}"><img#}
                        {#                                            src="{% static 'images/flags/uzbekistan.svg' %}" alt=""></a>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </li>#}

                        {#                        <ul class="nav navbar-nav icons" data-da=".nav_parent, 768, last">#}
                        {#                            <li><a href="https://t.me/aviakassaaviata" class=""><img#}
                        {#                                    src="{% static 'images/brands/telegram.svg' %}"#}
                        {#                                    alt=""></a></li>#}
                        {#                            <li><a href="https://instagram.com/aviakassa_aviata?utm_medium=copy_link"#}
                        {#                                   class=""><img#}
                        {#                                    src="{% static 'images/brands/instagram.svg' %}"#}
                        {#                                    alt=""></a></li>#}
                        {#                            <li><a href="" class=""><img#}
                        {#                                    src="{% static 'images/brands/facebook-colored.svg' %}" alt=""></a></li>#}
                        {#                            <li><a href="mailto: aviata.travelagency@mail.ru" class=""><img#}
                        {#                                    src="{% static 'images/brands/email.svg' %}"#}
                        {#                                    alt=""></a></li>#}
                        {#                        </ul>#}

                        <li><a href="" style="font-size: 19px;">{% translate 'Кабинет' %}</a></li>
                        <li class="menu">
                            <ul class="menu__list">
                                <li class="menu__list_item">
                                    <div href="" class="menu__item" style="color: white;">RU/EN</div>
                                    <i class="arrow"></i>
                                    <ul class="sub-menu__list">
                                        <li><a href="{{ path_ru }}" class=""><img
                                                src="{% static 'images/flags/russia.svg' %}" alt=""></a></li>
                                        <li><a href="{{ path_en }}" class=""><img
                                                src="{% static 'images/flags/united-states.svg' %}" alt=""></a>
                                        </li>
                                        <li><a href="{{ path_uz }}" class=""><img
                                                src="{% static 'images/flags/uzbekistan.svg' %}" alt=""></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}
    <!-- Footer Section -->


</div>
<footer style="width: 100%">
    <div class="container">
        <!-- social Section -->
        <div class="row">
            <div class="col-md-4 col-6">
                <nav class="footer-nav">
                    <a href="" class="footer-nav-link">
                        <i class="far fa-handshake"></i>
                        {% translate 'Агентствам' %}
                    </a>
                    <a href="" class="footer-nav-link">
                        {% translate 'О компании' %}
                    </a>
                    <a href="" class="footer-nav-link">
                        {% translate 'Публичная оферта' %}
                    </a>
                </nav>
            </div>
            <div class="col-md-4 col-6 mb-3">
                <div class="cards">
                    <span class="cards-text">{% translate 'Принимаем к оплате' %}</span>
                    <div class="cards-images">
                        <img src="{% static 'images/cards/01.jpg' %}" height="33" alt="">
                        <img src="{% static 'images/cards/02.jpg' %}" height="33" alt="">
                        <img src="{% static 'images/cards/03.jpg' %}" height="33" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-6 mb-3">
                <div class="social-footer">
                    <ul class="social-footer__list list-footer">
                        <li><a href="https://t.me/aviakassaaviata" class=""><img height="33"
                                                                                 src="{% static 'images/brands/telegram.svg' %}"
                                                                                 alt=""></a></li>
                        <li><a href="" class="https://instagram.com/aviakassa_aviata?utm_medium=copy_link"><img
                                src="{% static 'images/brands/instagram.svg' %}" height="33"
                                alt=""></a></li>
                        <li><a href="" class=""><img
                                src="{% static 'images/brands/facebook-colored.svg' %}" alt="" height="33"></a></li>
                        <li><a href="mailto:aviata.travelagency@mail.ru" class=""><img
                                src="{% static 'images/brands/email_2.svg' %}" height="33"
                                alt=""></a></li>
                    </ul>
                    <a class="social-footer__link">
                        {% translate 'Офисы продаж' %}
                    </a>
                    {#                       <a href="tel:+998882897770" class="social-footer__link">#}
                    {#                            <i class="fa fa-phone"></i>#}
                    {#                            <b>+998</b>88 289 77 70#}
                    {#                        </a>#}
                    {#                        <a href="" class="social-footer__link">#}
                    {#                            <i class="fa fa-address-book"></i>#}
                    {#                            {% translate 'ул. Дагбитская 14' %}#}
                    {#                        </a>#}
                    {#                        <a href="mailto:aviata.travelagency@mail.ru" class="social-footer__link">#}
                    {#                            <i class="fa fa-mail-forward"></i>#}
                    {#                            aviata.travelagency@mail.ru#}
                    {#                        </a>#}
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap -->
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}" charset="UTF-8"></script>

<!-- Popup -->
{#<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>#}
{#<script src="{% static 'js/magnific-popup-options.js' %}"></script>#}

<!-- Carousel -->
<script src="{% static 'js/owl.carousel.js' %}"></script>

<!-- Sticky Header -->
<script src="{% static 'js/jquery.sticky.js' %}"></script>

<!-- Parallax -->
<script src="{% static 'js/jquery.parallax.js' %}"></script>

<!-- Counter -->
{#<script src="{% static 'js/counter.js' %}"></script>#}
{#<script src="{% static 'js/smoothscroll.js' %}"></script>#}
<!-- Revolution Slider -->
{#<script type="text/javascript" src="{% static 'js/revolution-slider/js/jquery.themepunch.tools.min.js' %}"></script>#}
{#<script type="text/javascript" src="{% static 'js/revolution-slider/js/jquery.themepunch.revolution.min.js' %}"></script>#}

<!-- Google Map -->
{#<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMqMG_n4C0aAi3F8a82Q6s3hxDLrTXxe8&callback=initMap" async#}
{#        defer></script>#}
{#<script src="{% static 'js/gmap.js' %}"></script>#}
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>
<!-- Custom -->
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/responsive.js' %}"></script>
<script src="{% static 'js/tabs.js' %}"></script>
<script src="{% static 'js/splide.min.js' %}"></script>

<script>
    $('.image-carousel').owlCarousel({
        loop: true,
        margin: 10,
        responsiveClass: true,
        autoHeight: true,
        autoHeightClass: 'owl-height',
        responsive: {
            0: {
                items: 1,
                nav: true
            },
            600: {
                items: 3,
                nav: false
            },
            1000: {
                items: 5,
                nav: true,
                loop: false
            }
        }
    })

</script>


{#<script>#}
{#    function image() {#}
{#        $(".navbar-toggle").on('click', function (e) {#}
{#            if ($(this).hasClass('on')) {#}
{#                $(this).removeClass('on').addClass('off')#}
{#                $("#logo").remove()#}
{#            }#}
{#            if ($(this).hasClass('off')){#}
{#                $(this).addClass('on')#}
{#                $("#logo").append('<img src="{% static 'Aviata Travel .png' %}" id="logo" alt="" height="100">')#}
{#                   console.log('gferg')#}
{#            }#}
{##}
{#        })#}
{##}
{#    }#}
{#</script>#}
</body>
</html>
